nav {
    z-index: 999;
    position: fixed;
    top: 0; 
    left: 0; 
    width: 100%; 
    padding-top: 2rem;
    height: 6rem;
    display: flex;
    justify-content: space-around;
    background-color: #2b2b2b;; 
    color: #fff; 

}
.img_icone {
    z-index: 999;
    width: 2px;
    height: 2px;
}

nav #icone {
    padding: 1rem;
    left: 1rem;
    position: absolute;
}
nav #icone a {
    text-decoration: none;
    color: var(--white);
    position: relative;
}

nav #info {
    position: relative;
    display: flex;
    gap: 2rem;
    font-size: 2rem;
}

nav #info a {
    position: relative;
    font-weight: bold;
    text-decoration: none;
    color: var(--white);

}
